    header {
    color: wheat;
    background-color: #333333;
    text-align: center;
    padding: 20px;
    font-size: 200%;
    }
    
    a:link {
    text-decoration: none;
    color: white;
    }

    a:visited {
    text-decoration: none;
    }

    a:hover {
    text-decoration: none;
    color: white;
    }

    a:active {
    text-decoration: none; 
    color: white;
    }

    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    }

   button {background-color: black;}

   button:hover {
     text-decoration: none;
     color: white;
   }
   
   button:link {
     text-decoration: none;
     color: white;
   }

   li {
    float: left;
    }

   li:last-child {
    border-right: none;
    }

   li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }

   li a:hover:not(.active) {
    background-color: #111;
    }

   .active {
    background-color: #04AA6D;
    }
      
    .social-icon {
        color: #333333;
        transition: color 0.2s;
        text-decoration: none;
        font-size:150%;
        text-align: center;
      }

      .social-icon:hover {
        color: #333333;
      }

      .p {
        font-size: 110%;
      }